.chat-wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 15px;
  background-color: #383a3e;
  resize: both;
  min-height: 200px;
  min-width: 300px;
  overflow: auto;
  overflow-wrap: break-word;
  width: 350px;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 101;
}

.close-chat {
  fill: white;
  height: 22px;
  width: 22px;
  cursor: pointer;
  /* background-color: white; */
  margin-left: 10px;
}

.open-close-users {
  fill: white;
  height: 22px;
  /* background-color: grey; */
  /* padding: 3px; */
  margin: 3px;
  width: 22px;
  cursor: pointer;
  justify-self: flex-end;
  margin-right: 10px;
}

.chat-header {
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #383a3e;
  border-bottom-color: white;
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 10fr;
  cursor: all-scroll;
  align-items: center;
  color: white;
}

.popup-content {
  border: none !important;
  padding: 0 !important;
}



.where {
  /* padding: 10px; */
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  /* margin: 5px; */
  /* border-radius: 10px; */
  cursor: pointer;
  background-color: rgb(25, 25, 25);
  color: white;
  font-weight: bold;
  border: 1px solid white;
  user-select: none;
  /* border-radius: 2px; */
}

.where:active {
  background-color: rgb(45, 44, 52);
}


.global-where {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.last-where {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-body {
  width: 100%;
  height: 88%;
  background-color: #383a3e;
  overflow-y: scroll;
  min-height: 111px;
  display: flex;
  flex-direction: column;
}

.chat-body::-webkit-scrollbar {
  width: 1em;
}

.chat-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.message-wrapper,
.dm-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-top: 5px;
  min-width: 150px;
  max-width: 90%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.dm-wrapper {
  justify-self: center;
  align-self: center;
}

.whisper {
  font-style: italic;
  color: white;
}

.left {
  /* left: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(200, 200, 200);
  justify-self: left;
  align-self: flex-start;
  margin-left: 5px;
}

.right {
  /* right: 0; */
  justify-self: right;
  align-self: flex-end;
  background-color: #1982FC;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 5px;
}


.right>.author {
  align-self: flex-end;
  font-size: 13px;
  opacity: 0.5;
}

.left>.author {
  align-self: flex-start;
  font-size: 13px;
  opacity: 0.5;
}

.message {
  padding-left: 3px;
  padding-right: 3px;
  align-self: flex-start;
  font-weight: 450;
  overflow-wrap: anywhere;
}

.chat-footer {
  /* margin-top: 8px; */
  /* margin-bottom: 8px; */
  /* padding-top: 8px;
  padding-bottom: 8x[] */
  width: 100%;
  height: 45px;
  background-color: #383a3e;
}

.chat-form {
  width: inherit;
  height: inherit;
  display: grid;
  /* margin-bottom: ; */
  /* padding-bottom: 8px; */
  gap: 10px;
  grid-template-columns: 3fr 1fr;
}

.message-box {
  margin-left: 10px;
  height: 85%;
  align-self: center;
  border-radius: 5px;
  border: none;
  /* width: 70%; */
  /* align-self: flex-start; */
}

.send-message {
  /* width: 70px; */
  background-color: #1982FC;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  max-width: 100px;
  margin-right: 10px;
  height: 85%;
  align-self: center;
  /* align-self: flex-end; */
}

.send-message:active {
  background-color: #3090ff;
  color: rgb(15, 15, 15);
}