.map-util-toolbar {
  position: absolute;
  right: 200px;
  top: 1%;
  width: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #27292e;

}

.map-util-toolbar>svg {
  margin-top: 10px;
  width: 30px;
  fill: rgb(154, 154, 154);
  cursor: pointer;
}

.token-wrapper {
  position: absolute !important;
  right: 10px;
  top: 1%;
  z-index: 101;
  height: 98% !important;
  width: 150px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  background-color: #27292e;
  border-radius: 20px;
}

.token {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}