.open-chat,
.open-invite,
.settings-cog {
  width: 28px;
  height: 28px;
  fill: rgb(154, 154, 154);
  cursor: pointer;
  transition-delay: 0;
}

.open-chat:active,
.open-invite:active,
.settings-cog:active {
  width: 28px;
  height: 28px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.close-invite {
  width: 22px;
  height: 22px;
  fill: white;
  cursor: pointer;
}

.chat-sidebar {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  display: grid;
  grid-template-rows: 3fr 2fr 1fr;
  width: 150px;
  height: 100%;
  background-color: #27292e;

  box-shadow: 0 0 10px 2px #1c1e22;
}

.user-utilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.user-utilities>svg {
  width: 25px;
  height: 25px;
  /* fill: rgb(154, 154, 154); */
  stroke: rgb(154, 154, 154);
  cursor: pointer;
}

.video-select {
  width: 25px;
  height: 25px;
  fill: rgb(154, 154, 154);
  cursor: pointer;
}

.video-select:active {
  fill: rgb(255, 255, 255);
}

.user-utilities>svg:active {
  stroke: rgb(255, 255, 255);
}

.util-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.users-in-game {
  overflow-x: hidden;
  overflow-y: scroll;
}


.user-in-sidebar {
  /* padding: 10px; */
  /* padding: 10px; */
  overflow-x: hidden;
  /* background-color: black; */
  color: rgb(154, 154, 154);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.user-in-sidebar:hover {
  background-color: #2f3238;
}


.user-in-sidebar>p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.close-user {
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
}

.close-user:active {
  fill: rgb(84, 84, 84);
}

.dungeon-master {
  width: 37px;
  height: 37px;
  fill: rgb(182, 0, 0);
  margin-left: 4px;
  margin-right: 4px;
}