.open-chat,
.open-invite,
.settings-cog {
  width: 28px;
  height: 28px;
  fill: rgb(154, 154, 154);
  cursor: pointer;
  transition-delay: 0;
}

.open-chat:active,
.open-invite:active,
.settings-cog:active {
  width: 28px;
  height: 28px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.close-invite {
  width: 22px;
  height: 22px;
  fill: white;
  cursor: pointer;
}

.chat-sidebar {
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 1%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 150px;
  height: 98%;
  background-color: #27292e;
  border-radius: 20px;
}

.util-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.users-in-game {
  overflow-x: hidden;
}

.user-in-sidebar {
  /* padding: 10px; */
  padding: 10px;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-weight: bold;
}